[MASTER]
# Use multiple processes to speed up Pylint.
jobs=4

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=

# Pickle collected data for later comparisons.
persistent=yes

# When enabled, pylint would attempt to guess common misconfiguration and
# warn user about it.
enable=all

# Allow loading of arbitrary C extensions. Extensions are imported into the
# active Python interpreter and may run arbitrary code.
unsafe-load-any-extension=no

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=fixme,
        too-many-ancestors,
        broad-exception-raised,
        import-outside-toplevel,
        broad-exception-caught,
        duplicate-code

# Enable the message, report, category or checker with the given id(s).
enable=all

[REPORTS]
# Python expression which should return a score less than or equal to 10.
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Set the output format.
output-format=text

# Tells whether to display a full report or only the messages.
reports=yes

# Activate the evaluation score.
score=yes

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[IMPORTS]
# Force import order to recognize a module as part of a third party library.
known-third-party=enchant

[BASIC]
# Bad variable names which should always be refused, separated by a comma.
bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           ex,
           Run,
           _